.find-icons {
    display: flex;
    /* 아이콘과 아래 제목을 가로 일렬로 정렬 */
    justify-content: space-between;
    /* 일정한 간격으로 중앙 정렬 벌림 */
}

.find-icons__icon {
    display: flex;
    /* 아이콘과 아래 제목을 일렬로 정렬 */
    flex-direction: column;
    /* 1열 아이콘 2열 제목 수직 정렬 */
    align-items: center;
    /* 아이콘을 자기 열에서 중앙 정렬 */
}

.find-icons__icon i { 
    /* find-icons__icon 에 있는 아이콘만 적용한다는 [i]  */
    font-size: 35px;
}

.find-icons__icon span {
    margin-top: 18px;
}

.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    /* 자주 쓰이는거라 변수로 지정해서 뺌 variables.css */
}

.recommended-friends__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.recommended-friends span {
    margin: 100px 0px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}