.nav {
    position: fixed; /*위치 고정*/
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 40px;
    border-top: 1px solid rgba(121,121,121,0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative; /*.nav__notification 를 자기 기준으로 배치하기 위함*/
    color: inherit; /*네비 색깔 링크처럼 파란색과 밑줄이 쳐지지 않게 색을 받아옴*/
}

.nav__notification {
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    display: flex; /*.nav__notification 은 span 이기 때문에 해당 설정을 반드시 해야함*/
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute; /*요소를 일반적인 문서 흐름에서 제거하고, 페이지 레이아웃에 공간도 배정하지 않습니다. 대신 가장 가까운 위치 지정 조상 요소에 대해 상대적으로 배치합니다.*/
    left: 15px;
    bottom: 15px;
}